/*
tablet: min-width: 768px;
desktop: min-width: 1000px;
*/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #333333;
	background: #deb150;
	text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h3,
p,
a {
  margin-bottom: 1em;
}

section {
	padding: 2rem 0;
}

.container {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}

.container-ty {
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ty-and {
	font-size: 100px;
}

.split {
	display: flex;
	flex-direction: column;
}

img {
	display: block;
	max-width: 100%;
	border-radius: 15px;
}

.coming-soon {
	font-family: 'Barlow', sans-serif;
	font-size: 95px;
	line-height: .90;
	margin-bottom: 20px;
}

.thank-you {
	font-size: 60px;
}

.email-form {
	display: none;
}

.email-input {
	font-size: 20px;
	padding: 20px 20px;
	margin-top: 20px;
	margin-inline: auto;
	width: min(100%, 70.5rem);
	border: none;
	border-radius: 15px;
	text-align: center;
}

.get-notified {
	display: none;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	color: #333333;
	background: #95c368;
	padding: 20px 45px;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
}

.get-notified:hover {
	background: #a80404;
	color: white;
}

.get-notified-mobile {
	display: inline-block;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #333333;
	background: #95c368;
	padding: 20px 0;
	margin-top: 20px;
	margin-inline: auto;
	width: min(100%, 70.5rem);
	border: none;
	border-radius: 15px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
}

.get-notified-mobile:active {
	background: #a80404;
	color: white;
}

.email-button {
	display: none;
	font-size: 20px;
	color: #333333;
	margin-top: 20px;
}

.email-button:hover, .email-button:focus {
	color: #a80404;
}

.email-button-mobile {
	display: block;
	font-size: 17px;
	color: #333333;
	margin-top: 20px;
}

@media only screen and (min-width: 768px){
	.coming-soon {
		font-size: 180px;
	}

	.abzijgen-subhead {
		font-size: 40px;
	}

	.get-notified-mobile {
		font-size: 40px;
	}

	::placeholder {
  	font-size: 25px;
	}

	.email-button-mobile {
		font-size: 25px;
		margin-top: 30px;
	}

	.thank-you {
		font-size: 100px;
	}

	.ty-and {
		font-size: 200px;
	}
}

@media only screen and (min-width: 1000px){
	.get-notified-mobile {
		display: none;
	}

	.email-form-mobile {
		display: none;
	}

	.email-button-mobile {
		display: none;
	}

	.email-form {
		display: block;
	}

	.email-input	{
		width: min(90%, 70.5rem);
		margin-top: 0;
	}

	.get-notified {
		display: inline-block;
		font-size: 25px;
		width: min(90%, 70.5rem);
		margin-top: 15px;
	}

	.email-button {
		display: block;
	}

	.split {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 6em;
	}

	.split > * {
	  	flex-basis: 100%;
	}

	.split > * + * {
  	margin-left: 2rem;
	}

	.coming-soon {
		font-size: 120px;
	}

	.abzijgen-subhead {
		font-size: 30px;
	}

	img {
		border: solid #95c368 20px;
		padding: 20px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		margin-bottom: 50px;
	}
}



